banner {
background-image: linear-gradient(100deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 50%), url(https://bonnuit-matelas.fr/cdn/shop/files/ADULTE-Set1_2-026_93e0f7a5-eb5f-44ce-a13f-e3e3a7136b30.jpg?v=1708614349);
color: whitesmoke;
padding: 150px 0px;
background-size: cover;
background-position: center;
}
.banner h1 {
font-size: 45px;
color: white;
}
.banner h2 {
font-size: 30px;
font-weight: bolder;
opacity: 0.8;
margin-bottom: 30px;

}